@import url('https://fonts.googleapis.com/css?family=Open+Sans|Pacifico');

body {
  margin: 0;
}

p {
  margin: 0;
  display: inline-block;
}

.chatroom {
  height: 100%;
  border-radius: 5px;
  overflow: hidden;
  box-shadow: 0 0 8px 0 rgba(0,0,0, 0.3);
}

.online-list{
  height: 485px;
  overflow-y: scroll;
}

.chatroom .chats {
  box-sizing: border-box;
  padding: 0 20px;
  margin: 10px 0 10px 0;
  height: 485px;
  overflow-y: scroll;
}

.chatroom .chats .chat {
  background: dodgerblue;
  position: relative;
  padding: 5px 13px;
  font-size: 14px;
  border-radius: 10px;
  list-style: none;
  float: left;
  clear: both;
  margin: 10px 0;
  max-width: 700px;
}

.chatroom .chats .chat.right {
  float: right;
  clear: both;
  background: deepskyblue;
}

.chatroom .chats .chat a {
  text-decoration: none;
  color:#3498DB;
}

::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-track {
    background: #f1f1f1; 
    border-radius: 10px;
}

::-webkit-scrollbar-thumb {
    background: #888; 
    border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
    background: #555; 
}